@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "JosefinSans";
    src: url("../public/fonts/JosefinSans/JosefinSans-Thin.ttf");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "JosefinSans";
    src: url("../public/fonts/JosefinSans/JosefinSans-Light.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../public/fonts/JosefinSans/JosefinSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../public/fonts/JosefinSans/JosefinSans-Semibold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "JosefinSans";
    src: url("../public/fonts/JosefinSans/JosefinSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "JosefinSans";
    src: url("../public/fonts/JosefinSans/JosefinSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Soyuz Grotesk";
    src: url("../public/fonts/SoyuzGrotesk/Soyuz Grotesk Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}